
.l-editor {
  display: grid;
  gap: var(--spacing-xl);

  // 投稿コンテンツ
  &Main {
    width: min(100%, 880px);
    margin-inline: auto;
    padding-block: var(--spacing-lg) 0;
    padding-inline: 3vw;
  }

  // 左右へ移動
  &Move {
    padding-block: 2vw 18rem; //動画と被らないように下部に余白
    background-color: var(--surface-2);
    border-top: 1px solid var(--border-1);
    
    @container learningPageGroup (width >= 1080px) {
      padding-block: 1.5vw 8rem;
    }


    &__inner {
      width: min(100%, 720px);
      margin-inline: auto;
      padding-inline: 1.5vw;
    }
  }
}