@use "../foundation/global" as *;

.c-button {
  color: var(--button-text);
  border: 1px solid var(--button-border);
  background-color: var(--button-surface);
  font: 400 var(--font-xs)/1 var(--family);
  display: inline-grid;
  place-items: center;
  padding: 1em;
  border-radius: var(--radius-sm);
  cursor: pointer;

  &:hover {
    background-color: var(--button-surface-hover);
    border-color: var(--button-border-hover);
    color: var(--button-text-hover);
  }

  // プライマリカラーボタン
  &--primary {
    --normal: var(--main-accent);
    --hover: var(--main-accent-lighten);

    --button-text: var(--white);
    --button-border: var(--normal);
    --button-border-hover: var(--hover);
    --button-surface: var(--normal) ;
    --button-surface-hover: var(--hover);
  }
  // プライマリカラーボタン
  &--secondary {
    --normal: var(--brand-secondary);
    --hover: var(--brand-secondary-dark);

    --button-text: var(--white);
    --button-border: var(--normal);
    --button-border-hover: var(--hover);
    --button-surface: var(--normal) ;
    --button-surface-hover: var(--hover);
  }

  // アクセントカラーボタン
  &--accent {
    --normal: var(--accent);
    --hover: var(--accent-dark);

    --button-text: var(--white);
    --button-border: var(--normal);
    --button-border-hover: var(--hover);
    --button-surface: var(--normal) ;
    --button-surface-hover: var(--hover);
  }


  // ブランドプライマリカラーボタン
  &--brandPrimary {
    --normal: var(--main-light);
    --hover: var(--white);

    --button-text: var(--white);
    --button-text-hover: var(--main-light);
    --button-border: var(--normal);
    --button-border-hover: var(--main-light);
    --button-surface: var(--normal) ;
    --button-surface-hover: var(--hover);
  }
  
  // ブランドアクセントカラーボタン
  &--brandAccent {
    --normal: var(--main-accent);
    --hover: var(--white);

    --button-text: var(--white);
    --button-text-hover: var(--main-accent);
    --button-border: var(--normal);
    --button-border-hover: var(--main-accent);
    --button-surface: var(--normal) ;
    --button-surface-hover: var(--hover);
  }

  &--delelte{
    --normal: var(--alert);
    --hover: var(--white);

    --button-text: var(--white);
    --button-text-hover: var(--normal);
    --button-border: var(--normal);
    --button-border-hover: var(--normal);
    --button-surface: var(--normal) ;
    --button-surface-hover: var(--hover);
  }

  &--cancel{
    --normal: #B9D4E6;

    --button-text: var(--normal);
    --button-text-hover: var(--normal);
    --button-border: var(--normal);
    --button-border-hover: var(--normal);
    --button-surface: var(--white) ;
    --button-surface-hover: #f4f5f6;
  }

  &--lineAccent{
    --normal: var(--main-accent);
    --hover: rgba(10,149,199,.1);

    --button-text: var(--main-accent);
    --button-text-hover: var(--main-accent);
    --button-border: var(--normal);
    --button-border-hover: var(--main-accent);
    --button-surface: var(--white) ;
    --button-surface-hover: var(--hover);
  }

  // サイズ
  &--sm {
    padding: .72em .8em;
  }
  &--xs {
    font-size: var(--font-xs);
    padding: .5em .8em;
  }

  // 横幅いっぱい
  &--full {
    width: 100%;
  }

  // 追加ボタン
  &--add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    background: var(--main-accent);
    box-shadow: 0 2px 6px 0 rgba(10,149,199,.431);
    &:hover{
      background: #0A95D8;
      box-shadow: none;
    }
  }

  // テキスト
  &--text {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    display: inline-grid;
    place-items: center;
    padding: 0;
    appearance: none;
    color: #9DA7AE;
    font-size: var(--font-2xs);
    font-weight: 500;
    line-height: 1;
    letter-spacing: -.02em;
    &:hover{
      color: #2b2e38;
    } 
  }
  // ターゲットブランク
  &[target=_blank],
  &--upload {
    color: white;
    display: inline-grid;
    grid-template-columns: auto 1fr auto;
    @include max(md) {
      grid-template-columns: 1fr auto;
    }
    &::before,
    &::after {
      content: "";
      display: block;
      width: 1em;
      height: auto;
      aspect-ratio: 1;
    }
    &::before {
      @include max(md) {
        display: none;
      }
    }
    &::after {
      background-color: currentColor;
      -webkit-mask: url('data:image/svg+xml;utf8,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.1777 13.124V19.124C18.1777 19.6545 17.967 20.1632 17.5919 20.5382C17.2169 20.9133 16.7082 21.124 16.1777 21.124H5.17773C4.6473 21.124 4.13859 20.9133 3.76352 20.5382C3.38845 20.1632 3.17773 19.6545 3.17773 19.124V8.12402C3.17773 7.59359 3.38845 7.08488 3.76352 6.70981C4.13859 6.33474 4.6473 6.12402 5.17773 6.12402H11.1777" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M15.1777 3.12402H21.1777V9.12402" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.1777 14.124L21.1777 3.12402" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      mask-size: contain;
    }
    &::after {
      -webkit-mask: url('data:image/svg+xml;utf8,<svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.3604 15.0781V19.0781C21.3604 19.6086 21.1496 20.1173 20.7746 20.4923C20.3995 20.8674 19.8908 21.0781 19.3604 21.0781H5.36035C4.82992 21.0781 4.32121 20.8674 3.94614 20.4923C3.57107 20.1173 3.36035 19.6086 3.36035 19.0781V15.0781" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M17.3604 8.07812L12.3604 3.07812L7.36035 8.07812" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.3604 3.07812V15.0781" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>');
      mask-size: contain;
    }
    .br-md-block {
      display: none;
      @include max(md) {
        display: block;
      }
    }
  }
  &__back{
    background-color: var(--white);
    border: 1px solid var(--box-border);
    border-radius:var(--radius-sm);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    aspect-ratio: 1;
    svg{
      fill: var(--box-border);
    }
    &:hover{
      background-color: var(--background-base);
    }
  }

  &--howto {
    color: #FE7B38;
    display: inline-grid;
    grid-template-columns: auto 1fr;
    gap: var(--spacing-2xs);
    border-color: #FE9738;
    &::before {
      content: "";
      display: block;
      block-size: 1.5em;
      aspect-ratio: 1;
      background: no-repeat center / contain url('data:image/svg+xml;utf8,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.95 18C12.3 18 12.5958 17.8792 12.8375 17.6375C13.0792 17.3958 13.2 17.1 13.2 16.75C13.2 16.4 13.0792 16.1042 12.8375 15.8625C12.5958 15.6208 12.3 15.5 11.95 15.5C11.6 15.5 11.3042 15.6208 11.0625 15.8625C10.8208 16.1042 10.7 16.4 10.7 16.75C10.7 17.1 10.8208 17.3958 11.0625 17.6375C11.3042 17.8792 11.6 18 11.95 18ZM11.05 14.15H12.9C12.9 13.6 12.9625 13.1667 13.0875 12.85C13.2125 12.5333 13.5667 12.1 14.15 11.55C14.5833 11.1167 14.925 10.7042 15.175 10.3125C15.425 9.92083 15.55 9.45 15.55 8.9C15.55 7.96667 15.2083 7.25 14.525 6.75C13.8417 6.25 13.0333 6 12.1 6C11.15 6 10.3792 6.25 9.7875 6.75C9.19583 7.25 8.78333 7.85 8.55 8.55L10.2 9.2C10.2833 8.9 10.4708 8.575 10.7625 8.225C11.0542 7.875 11.5 7.7 12.1 7.7C12.6333 7.7 13.0333 7.84583 13.3 8.1375C13.5667 8.42917 13.7 8.75 13.7 9.1C13.7 9.43333 13.6 9.74583 13.4 10.0375C13.2 10.3292 12.95 10.6 12.65 10.85C11.9167 11.5 11.4667 11.9917 11.3 12.325C11.1333 12.6583 11.05 13.2667 11.05 14.15ZM12 22C10.6167 22 9.31667 21.7375 8.1 21.2125C6.88333 20.6875 5.825 19.975 4.925 19.075C4.025 18.175 3.3125 17.1167 2.7875 15.9C2.2625 14.6833 2 13.3833 2 12C2 10.6167 2.2625 9.31667 2.7875 8.1C3.3125 6.88333 4.025 5.825 4.925 4.925C5.825 4.025 6.88333 3.3125 8.1 2.7875C9.31667 2.2625 10.6167 2 12 2C13.3833 2 14.6833 2.2625 15.9 2.7875C17.1167 3.3125 18.175 4.025 19.075 4.925C19.975 5.825 20.6875 6.88333 21.2125 8.1C21.7375 9.31667 22 10.6167 22 12C22 13.3833 21.7375 14.6833 21.2125 15.9C20.6875 17.1167 19.975 18.175 19.075 19.075C18.175 19.975 17.1167 20.6875 15.9 21.2125C14.6833 21.7375 13.3833 22 12 22Z" fill="%23FE9738"/></svg>');
    }
    &:hover {
      border-color: #FE9738;
      background-color: #FE973833;
    }
  }
}