.c-image {
  &--svg{
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
      max-height: 100%;
      max-width: 100%;
    }
  }
}

.c-noImage{
  background-image: url(../../img/common/noImage/noimage.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden
}