.c-scroll {
  overflow: auto;
  width: 100%;
  max-height: 55vh;
  &::-webkit-scrollbar{
    background: #F5F8FA;
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #15294B;
    border-radius: 10px;
  }

  &.h-auto{
    max-height: 100%;
    height: 100%;
  }
}