// タスクのステータス
.c-status {
  width: 72px;
  height: 18px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  font-size: 11px;
  color: var(--white);
  background: #222;
  // 未登録
  &--waiting{
    background: var(--alert);
  }
  // 下書き
  &--paused{
    background: var(--gray-100);
    color: var(--gray-400);
    border: solid 1px var(--gray-200);
  }
  // 評価待ち
  &--assessment{
    background: var(--assessment);
  }
}
// 下層用ステータス
.status{
  &--1{
    font-size: .75rem;
    font-weight: 700;
    color: var(--status-1);
    &:before{
      content: '';
      height:.75rem;
      width:.75rem;
      outline: 4px solid var(--status-1);
      outline-offset: -4px;
      border-radius:50%;
      display: inline-block;
      margin:0 4px -1px 0;
    }
  }
  &--2{
    font-size: .75rem;
    font-weight: 700;
    color: var(--status-2);
    &:before{
      content: '';
      height:.75rem;
      width:.75rem;
      outline: 4px solid var(--status-2);
      outline-offset: -4px;
      border-radius:50%;
      display: inline-block;
      margin:0 4px -1px 0;
    }
  }
  &--3{
    font-size: .75rem;
    font-weight: 700;
    color: var(--status-3);
    &:before{
      content: '';
      height:.75rem;
      width:.75rem;
      outline: 4px solid var(--status-3);
      outline-offset: -4px;
      border-radius:50%;
      display: inline-block;
      margin:0 4px -1px 0;
    }
  }
  &--4{
    font-size: .75rem;
    font-weight: 700;
    color: var(--status-4);
    &:before{
      content: '';
      height:.75rem;
      width:.75rem;
      outline: 4px solid var(--status-4);
      outline-offset: -4px;
      border-radius:50%;
      display: inline-block;
      margin:0 4px -1px 0;
    }
  }
}