
// フォームを配置するためのタイトルを含んだエリア
.p-formBlock {

  // ヘッド
  &__head {
    margin: 0 0 var(--spacing-lg);


    // プラグイン対応
    // ログインの場合
    &--login {
      display: none;
      &:has(~ .p-formBlock__body .pmpro_login_wrap) {
        display: block;
      }
    }
    // パスワードリセットの場合
    &--lost {
      display: none;
      &:has(~ .p-formBlock__body .pmpro_lost_password_wrap) {
        display: block;
      }
    }

  }
  // タイトル
  &__title {
    font: 700 var(--font-xl)/1.5 var(--family);
  }
  &__description {
    font: 400 var(--font-sm)/1.9 var(--family);
    margin: 1.5em 0 0;
  }

  // プラグイン
  .pmpro_lost_password-instructions {
    @extend .p-formBlock__description;
  }

  // フレーズ
  &__phrase {
    font: 700 var(--font-xl)/1.5 var(--family);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    padding-block: var(--spacing-sm);

    svg {
      width: 48px;
      height: auto;
      aspect-ratio: 1;
    }
  }

  // アクション
  &__action {
    margin: var(--spacing-md) 0 0;
  }

  // フローボタン
  &__flowButtonArea{
    grid-template-areas: "back next";
    .c-button{
      &--back{
        grid-area: back;
      }
      &--accent{
        grid-area: next;
      }
    }
  }
}