
// ページタイトル
.p-head {
  display: flex;
  align-items: center;
  gap: 10px;
  .title {
    font-size: var(--font-xl);
    font-weight: 600;
  }
  .action {
    margin-inline-start: auto;
  }
  .return {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid var(--box-border);
    border-radius: var(--radius-sm);
    background-color: var(--white);
    svg{
      fill: #B2C9D1;
    }
    &:hover{
      background-color: #f4f5f6;
    }
  }
}