.p-index{
  padding: 2rem 2.5rem;
  &__head{
    margin-block-end: 2rem;
    display:flex;
    align-items:center;
    gap:2.5rem;
    &--title{
      font-size: 1.5rem;
      font-weight: 700;
    }
    &--action{
      display:flex;
      align-items:center;
      gap:1.125rem;
      .c-button--text{
        font-size: 13px;
        font-weight: 700;
        padding: .75rem 0;
        &.is-current{
          color: var(--main-accent);
          border-bottom: 2px solid var(--main-accent);
        }
      }
    }
  }
}