.p-modal {
  --border: #B9D4E6;
  --border-gray: #eee;
  --border-delete: #B4BDCB;

  text-align: left;
  display: inline-flex;
  flex-direction: column;
  width: min(100%, 640px);
  min-height: 320px;
  max-height: 640px;
  padding: var(--spacing-lg) 20px;
  margin: 0;
  border-top: 8px solid var(--main-accent);
  border-radius: var(--radius-sm);
  box-shadow: 0 40px 60px 0 rgba(21,46,85,.3);
  &__close {
    color: #9EB4C2;
    font-size: 11px;
    font-weight: 500;
    line-height: 1rem;
    width: max-content;
    height: auto;
    position: absolute;
    inset: 1rem 1rem auto auto;
    &::before{
      display: none;
    }
  }
  &__head {
    padding: var(--spacing-3xs) 20px var(--spacing-lg);
    border-bottom: 1px solid var(--border);
    .title {
      color: #222;
      font-size: 22px;
      font-weight: 700;
      line-height: 2rem;
    }
    .description{
      margin-block-start: var(--spacing-md);
    }
  }
  &__middle {
    display: flex;
    gap: var(--spacing-sm);
    padding: 20px 0 var(--spacing-sm);
    .p-inputField{
      display: flex;
      align-items: center;
      gap: 12px;
      .label {
        color: var(--main);
        font-size: 13px;
        font-weight: 500;;
        min-width: max-content;
        margin-block-end: 0;
      }
      input[type=text],
      input[type=search],
      input[type=date],
      input[type=tel],
      input[type=email],
      input[type=number],
      input[type=password],
      select,
      textarea {
        padding: var(--spacing-2xs) var(--spacing-xs);
        min-height: 32px;
      }
    }
  }
  &__body{
    .c-scroll{
      max-height: 325px;
    }
    .p-table { 
      table {
        min-width: 0;
        th {
          .item{
            color: #9EADB7;
          }
        }
      }
      
    }
    .p-formBlock__action{
      margin-block-start: -1px;
      padding-block-start: var(--spacing-sm);
      border-top: 1px solid var(--border);
    }
    .c-button{
      padding: 10px 1em;
    }
  }
  // 削除
  &--delete{
    justify-content: space-between;
    max-width: 580px;
    border-top-color: var(--alert);
    .p-modal{
      &__head{
        border: none;
        .title{
          color: var(--alert);
        }
      }
      &__body{
        .p-formBlock__action {
          border-top-color: var(--border-delete);
        }
      }
    }
  }
  // 絞り込み検索
  &--search {
    width: min(100%, 480px);
    min-height: 450px;
    padding: 0;
    border-top: none;
    .p-modal {
      &__head {
        padding: 20px var(--spacing-lg);
        border-bottom: 1px solid var(--border-gray);
      }
      &__body {
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .p-formBlock {
          &__form {
            padding: var(--spacing-md) var(--spacing-lg);
            gap: 20px var(--spacing-sm);
          }
          &__action {
            padding: 20px var(--spacing-md);
            border-top: 1px solid var(--border-gray);
          }
        }
      }
    }
  }
}
// 背景
.remodal-overlay {
  background: rgba(21,41,75,.7);
}