.p-modal {
  --border: #B9D4E6;
  --border-gray: #eee;
  --border-delete: #B4BDCB;
  opacity: 0;
  text-align: left;
  display: inline-flex;
  flex-direction: column;
  width: min(100%, 640px);
  max-width: none;
  min-height: 320px;
  max-height: 640px;
  padding: var(--spacing-lg) 20px;
  margin: 0;
  border-top: 8px solid var(--main-accent);
  border-radius: var(--radius-sm);
  box-shadow: 0 40px 60px 0 rgba(21,46,85,.3);
  &.remodal-is-opened{
    opacity: 1;
    *{
      opacity: 1;
    }
  }
  // セルフチェック
  &__selfCheck{
    max-width: 580px;
    border-top: 8px solid var(--main-accent-green);
    justify-content: space-between;
    .p-modal{
      &__head {
        border-bottom: none;
      }
    }
  }
  // コメント
  &--comment{
    padding: 0;
    border-top: none;
    width: min(100%, 480px);
    .p-modal{
      &__head{
        border-bottom: none;
        padding: 20px var(--spacing-md);
      }
      &__body{
        background: #F6F8FA;
        border-top: 1px solid rgba(101,147,163,.2);
        border-bottom: 1px solid rgba(101,147,163,.2);
        padding: var(--spacing-sm) var(--spacing-md);
        flex: auto;
        &.c-scroll{
          max-height: 300px;
        }
        p{
          font-size: 13px;
          line-height: 1.8;
          white-space: pre-wrap;
        }
      }
      &__foot{
        display: flex;
        justify-content: flex-end;
        padding: var(--spacing-sm) var(--spacing-md) 20px;
      }
    }
    &.form{
      overflow: hidden;
      .p-modal{
        &__body{
          padding: var(--spacing-md) 0 0;
          background: var(--white);
          .p-inputField {
            padding: 0 var(--spacing-md);
          }
          .p-formBlock__action {
            padding: 20px var(--spacing-md);
            border-color: #eee;
          }
        }
        
      }
    }
  }
  &__close {
    color: #9EB4C2;
    font-size: 11px;
    font-weight: 500;
    line-height: 1rem;
    width: max-content;
    height: auto;
    position: absolute;
    inset: 1rem 1rem auto auto;
    &::before{
      display: none;
    }
  }
  &__action{
    display: flex;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    gap: var(--spacing-sm);
    .p-modal__close{
      position: static;
    }
  }
  &__head {
    padding: var(--spacing-3xs) 20px var(--spacing-lg);
    border-bottom: 1px solid var(--border);
    .title {
      color: #222;
      font-size: 22px;
      font-weight: 700;
      line-height: 2rem;
    }
    .description{
      margin-block-start: var(--spacing-md);
    }
  }
  &__middle {
    padding: 20px 0 var(--spacing-sm) !important;
  }
  &__body{
    .c-scroll{
      max-height: 325px;
    }
    .p-table { 
      table {
        min-width: 0;
        th {
          .item{
            color: #9EADB7;
          }
        }
      }
      
    }
    .p-inputField{
      &.space{
        padding-inline: 20px;  
      }
    }
    .p-formBlock__action{
      margin-block-start: -1px;
      padding-block-start: var(--spacing-sm);
      border-top: 1px solid var(--border);
    }
    .c-button{
      padding: 10px 1em;
    }
  }
  // 削除
  &--delete{
    justify-content: space-between;
    max-width: 580px;
    border-top-color: var(--alert);
    .p-modal{
      &__head{
        border: none;
        .title{
          color: var(--alert);
        }
      }
      &__body{
        .p-formBlock__action {
          border-top-color: var(--border-delete);
        }
      }
    }
  }
  // 絞り込み検索
  &--search {
    width: min(100%, 480px);
    min-height: 450px;
    padding: 0;
    border-top: none;
    .p-modal {
      &__head {
        padding: 20px var(--spacing-lg);
        border-bottom: 1px solid var(--border-gray);
      }
      &__body {
        flex: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .p-formBlock {
          &__form {
            padding: var(--spacing-md) var(--spacing-lg);
            gap: 20px var(--spacing-sm);
          }
          &__action {
            padding: 20px var(--spacing-md);
            border-top: 1px solid var(--border-gray);
            align-items: center;
          }
        }
      }
    }
  }
  // プレビュー
  &--preview{
    width: min(100%, 840px);
    padding: 0;
    border: none;
    .p-modal{
      &__close{
        color: #CFD7DB;
        right: 1.5rem;
      }
      &__head{
        background: #222;
        padding: 1rem 1.5rem;
        border-bottom: none;
        .title{
          font-size: 1rem;
          line-height: 1;
          color: #fff;
        }
      }
      &__body{
        background: #E6EAEE;
        padding: 48px 0 56px;
      }
    }
  }
  // テーブルあり
  &:has(.p-tableBox){
    border: none;
    padding: 0;
    max-height:100vh;
    width: 100%;
    max-width:1170px;
    .p-table{
      &Box{
        border-radius:0;
        &__head{
          padding-inline-end: 72px;
          .action{
            padding-inline-end: 2.5rem;
          }
        }
      }
      &__check{
        max-height:75vh;
        &--month{
          width: calc(70vw - 368px);
        }
        .sticky_4 {
          border-right: 0;
          border-bottom: 0;
          .cell--number{
            border-bottom: none;
          }
        }
      }
      &__cell{
        &--input{
          .cell--item{
            grid-template-columns: 1.5fr 2fr;
            .comment{
              &.c-empty {
                align-items: center;
                text-indent: -9999px;
                pointer-events: none;
                opacity: 1;
                &::before{
                  content: "-";
                  color: #666;
                  font-size: 13px;
                  width: 100%;
                  text-indent: 0;
                  text-align: center;
                }
              }
            }
          }
          .cell--number{
            &:last-child{
              border-right: none;
            }
          }
        }
      }
    }
    .c-button--text{
      display: none;
    }
  }
}
// ユーザー選択
.p-check{
  display: grid;
  grid-template-columns: 1fr 20px 1fr;
  justify-content: space-between;
  align-items: stretch;
  gap: 14px;
  padding-inline: 1.25rem;
  margin-block-end: 2.5rem;
  &__select{
    height: 100%;
    padding: .5rem;
    background-color: var(--background-base);
    border: 1px solid var(--main-accent);
    border-radius: 6px;
    font-size: .75rem;
    color: var(--main-accent);;
    cursor: pointer;
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="6" viewBox="0 0 9 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M3.51667e-05 0.999965L4.24268 5.24261L8.48532 0.999965L7.77821 0.292858L4.24268 3.82839L0.707142 0.292858L3.51667e-05 0.999965Z" fill="%230A95C7"/></svg>');
    background-size: 10px;
    background-position: right 10px center;
    background-repeat: no-repeat;
    &:hover{
      background-color: var(--white);
    }
    &.primary{
      background-color: var(--white);
      border-color: var(--main-light);
      color: #444;
    }
    &--wrap{
      position: relative;
    }
    &--list{
      width: 100%;
      display:none;
      position:absolute;
      top: 56px;
      left: 0;
      .c-txt__xs{
        &:after{
          content: '閉じる';
          color: #9eb4c2;
          text-align: right;
          margin-inline-start: 2rem;
        }
      }
      ul{
        display: grid;
        border: 1px solid #DCE2EA;
        > li {
          &:last-child{
            .p-check__account{
              border: none;
            }
          }
        }
      }
      .p-check__checkbox{
        display:flex;
        gap: .5rem;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #DCE2EA;
        background-color: var(--white);
        background-image: none !important;
        input{
          display:none;
        }
        &:has(input:checked){
          border: 1px solid var(--main-accent-green);
          background-color: var(--background-base-darken);
        }
      }
    }
    // ユーザーが選択された時
    &--user{
      .p-user {
        display: b;
      }
      .p-user__text{
        color: initial;
        .label{
          color: #888;
          font-size: 10px;
        }
      }
    }
    &.is-open{
      outline: 1px solid var(--form-accent);
      .p-check__select--list{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        z-index: 20;
      }
    }
  }
  &__account{
    padding: .5rem;
    border: 1px solid var(--main-accent);
    background-color: var(--background-base);
    border-radius:6px;
    flex:auto;
    position:relative;
    .p-user__text{
      color: initial;
      .label{
        color: #888;
        font-size: 10px;
      }
    }
    &--delete{
      padding: 0;
      border: 1px solid var(--gray-200);
      background-color: var(--gray-50);
      position:absolute;
      top:.25rem;
      right:.25rem;
      border-radius:2px;
      width: 1rem;
      height: 1rem;
      &:hover{
        background-color: var(--gray-100);
      }
    }
  }
  // ユーザー選択しないとき
  &--noSelect{
    .p-check__select {
      background-image: none;
      pointer-events: none;
    }
  }
}
// 背景
.remodal-overlay {
  background: rgba(21,41,75,.7);
}