
// 通常一覧一般ページ
.p-page {
  padding: 2rem 2.5rem;
  &__head{
    margin: 0 0 2rem;
  }
  &__body{
    &.row2{
      display: grid;
      grid-template-columns: 1fr minmax(300px, 340px);;
      gap: var(--spacing-sm);
      align-items: flex-start;
    }
  }

  // 従業員管理：編集
  &--member{
    .p-page{
      &__body{
        &.row2{
          grid-template-columns: minmax(450px, 620px) minmax(280px, 320px);
        }
      }
    }
  }
}