
// 通常一覧一般ページ
.p-page {
  padding: 2rem 2.5rem;
  &.min {
    width: min(100%, 730px);  
  }
  &__head {
    margin: 0 0 2rem;
    &--title{
      font-size: 1.5rem;
      font-weight: 700;
    }
    &--action{
      display:flex;
      align-items:center;
      gap:1.125rem;
      .c-button--text{
        font-size: 13px;
        font-weight: 700;
        padding: .75rem 0;
        &.is-current{
          color: var(--main-accent);
          border-bottom: 2px solid var(--main-accent);
        }
      }
    }
  }
  &__body {
    // ２列
    &.row2 {
      display: grid;
      grid-template-columns: 1fr minmax(300px, 340px);
      gap: var(--spacing-sm);
      align-items: flex-start;
    }
    // １列（横幅：小）
    &.min{
      display: grid;
      grid-template-columns: min(100%, 620px);
    }
  }

  // -------------------------------------------------------
  // 個別のスタイル
  //--------------------------------------------------------

  // 従業員情報：編集
  &--member {
    .p-page {
      &__body {
        &.row2 {
          grid-template-columns: minmax(480px, 620px) minmax(280px, 320px);
        }
      }
    }
  }
}


.p-approval{
  .u-flex{
    width: 90px;
    .c-txt__gray-400{
      flex: 0 0 37px;
    }
  }
}