
// 一覧テーブル
.p-table {
  // タイトル / 検索 / テーブルのボックス
  &Box{
    background: var(--white);
    border-radius: var(--radius-md);
    border: solid 1px var(--box-border);
    // タイトル / ボタンを格納
    &__head{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
      min-height: 5rem;
      padding: .5rem 1.5rem;
      .mainText{
        display: flex;
        align-items: baseline;
        gap: 1.5rem;
        .c-txt__xs{
          padding-inline-start: 1.5rem;
          border-left: 1px solid var(--box-border);
          span{
            line-height: 1;
          }
        }
      }
      .title{
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
      }
      .count{
        display: flex;
        align-items: baseline;
        gap: 4px;
        &.border{
          padding-inline-start: 1rem;
          position: relative;
          &::before{
            content: '';
            display: block;
            width: 1px;
            height: 22px;
            background: #ddd;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
        .number{
          font-size: 22px;
          font-weight: 600;
          transform: translate(0px, 1px);
        }
        .unit{
          font-size: var(--font-2xs);
          font-weight: 600;
        }
        &.min{
          .number{
            font-size: var(--font-md);
          }
          .unit{
            font-size: var(--font-3xs);
          }
        }
      }
      .action{
        margin-left: auto;
      }
      .comment{
        display: grid;
        grid-template-columns: 20px 1fr;
        gap: 4px;
        width: 100%;
        padding: 10px var(--font-xs);
        border: 1px solid #E5EBEF;
        background: #EEF5F9;
        p{
          font-size: 12px;
          font-weight: 500;
          line-height: 1.3;
          padding-block-start: 4px;
        }
      }
      &:has(.comment){
        padding: var(--spacing-md);
      }
    }
    // 検索を格納
    &__middle{
      padding: 0 1.5rem;
      
    }
    // テーブル / ページャーを格納
    &__body{
      padding: 1rem 0 0;
    }
  }
  // テーブル
  table{
    min-width: 1100px;
    width: 100%;
    height: 100%;
    &.t-table__900{
      min-width: 900px;
    }
    &.w-auto{
      min-width: auto;
    }
    tr{
      &[data-href] {
        cursor: pointer;
        &:hover{
          background-color: #F5F8F9;
        }
      }
    }
    th,td{
      height: 100%;
      .item{
        padding: .5rem .5rem;
        border-bottom: solid 1px var(--table-tr);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 13px;
        color: #444;
        word-break: break-all;
        &.row{
          flex-direction: row;
          align-items: center;
          gap: 1rem;
        }
        small{
          color: #888;
          font-size: 11px;
        }
        // 単位あり
        &[data-unit]{ 
          flex-direction: row;
          justify-content: flex-end;
          align-items: baseline;
          font-size: 14px;
          gap: .5rem;     
          &::after{
            content: attr(data-unit);
            font-size: 10px;
          }
        }
        // 評価者・承認者
        &--step{
          .name{
            font-size: 11px;
          }
        }
        // 表示なし
        .none{
          display: none;
        }
        // タイトル
        &.title{
          font-size: var(--font-sm);
        }
        // ボタン
        .c-button{
          &--text{
            color: #6593A3;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.5;
            &:hover{
              color: var(--main);
            }
          }
        }
        // テキストカラー
        &.c-txt__gray{
          color: #666;
        }
        // 評価対象期間
        &.term_arrow{
          position: relative;
          &::after{
            content: "";
            display: block;
            width: 1.5rem;
            height: 10px;
            background-image: url(../../img/common/icon/term--arrow.svg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            position: absolute;
            right: -10px;
          }
        }
      }
    }
    thead{
      height: 100%;
      th{
        height: 100%;
        .item{
          font-size: 12px;
          line-height: 1.2;
          color: #888;
          padding: .75rem .5rem;
        }
        &:first-of-type{
          .item{
            padding-left: 1rem;
          }
        }
        &:last-of-type{
          .item{
            padding-right: 1rem;
          }
        }
      }
    }
    tbody{
      height: 100%;
      td{
        &:first-of-type{
          .item{
            padding-left: 1rem;
          }
        }
        &:last-of-type{
          .item{
            padding-right: 1rem;
          }
        }
      }
    }
    // 固定
    &.sticky{
      thead{
        position:sticky;
        top:0;
        z-index: 10;
        tr{
          position:relative;
          &:after{
            content: '';
            display: block;
            height:1px;
            width:100%;
            position:absolute;
            bottom:0;
            left:0;
            z-index: 2;
            background-color: var(--table-tr);
          }
        }
        th{
          background: var(--white);
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          z-index: 1;
        }
      }
    }
  }
  &__cell,&__cell--input{
    display: flex;
    >*{
      min-width: 1px;
    }
    .c-noData{
      display:flex;
      align-items:center;
      justify-content:center;
      background-color: var(--noData);
      width: 100%;
    }
    .u-flex{
      border-bottom: solid 1px var(--box-border);
      border-right: solid 1px var(--box-border);
      background-color: var(--white);
      &:last-of-type{
        border-right: none;
      }
    }
    .c-txt__weight--600,.c-txt__gray-400{
      padding: .5rem;
      flex: auto;
      text-align: center;
      background-color: var(--white);
    }
    .c-txt__gray-400{
      background-color: #FAFBFB;
      border-right: solid 1px var(--box-border);
    }
    &--wrapper{
      display: grid;
      grid-template-columns: 90px 1fr;
      >*{
        min-width: 1px;
        .c-txt__weight--600,.c-txt__gray-400{
          padding: 1.5rem 6px;
          flex: auto;
          text-align: center;
          background-color: var(--white);
        }
        .c-txt__gray-400{
          background-color: #FAFBFB;
          border-right: solid 1px var(--box-border);
        }
      }
      .u-flex{
        border-bottom: solid 1px var(--box-border);
      }
    }
    &--input{
      display: flex;
      .c-txt__gray-400{
        width: 37px;
      }
    }
    &--select{
      color: var(--main-accent);
      font-size: 20px;
      font-weight: 600; 
      text-align: center;
      flex: auto;
      min-height: 100%;
      padding: 6px 14px 6px 6px;
      border-radius: 0;
      border: none;
      background: var(--white) url(../img/common/icon/chevron_select.svg) no-repeat right 5px center;
      background-size:10px;
      background-color: #F7FBFD;
    }
    .c-txt__lg{
      font-size: 18px;
    }
    [class*="u-w"].c-txt__xs{
      align-content: center;
      // text-decoration: underline;
      a{
        text-decoration: underline;
      }
    }
    .cell {
      &--item{
        display: grid;
        .comment {
          grid-column: 1/3;
          overflow: hidden;
          display: -webkit-box;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          max-height: 28px;
          min-height: 28px;
          color: #666;
          font-size: 11px;
          line-height: 1.31;
          white-space: pre-wrap;
          margin: 6px;
          cursor: pointer;
          &.c-noData {
            display:flex;
            align-items:center;
            justify-content:center;
            background-color: var(--noData);
            width: 100%;
            margin: 0;
            max-height: 100%;
            min-height: 40px;
            pointer-events: none;
          }
          &.c-empty {
            display:flex;
            width: 100%;
            margin: 0;
            max-height: 100%;
            min-height: 40px;
            pointer-events: none;
            color: #444;
            opacity: .2;
            background: var(--white);
            justify-content: flex-start;
            align-items: flex-start;
            padding: 6px;
            pointer-events: auto;
          }
        }
        &:has(select){
          grid-template-columns: 1.5fr 2fr;
        }
        .full{
          grid-column: 1/3;
        }
      }
      &--number{
        height: 100%;
        display: grid;
        place-items: center;
        border-bottom: solid 1px var(--box-border);
        + .cell--number{
          margin-inline-start: -1px;
          border-left: solid 1px var(--box-border) !important;
        }
        &.targeter{
          color: #C1C5C9;
          background: #FAFAFA;
        }
        &:has(select){
          padding: 0;
        }
      }      
    }
  }
  &__check{
    max-height: 70vh;
    display: flex;
    .t-wrapper{
      flex:auto;
    }
    &--head{
      padding: 1rem;
      width: 540px;
      &2{
        padding: 1rem;
        width: 10rem;
      }
    }
    &--month{
      width: calc(100vw - 810px);
      button{
        background-color: transparent;
        color: var(--white);
        border: none;
        padding: 0;
        fill: var(--white);
        display:flex;
        align-items:center;
        gap:.25rem;
        font-size: 15px;
        transition: all 0.2s;
        &:hover{
          color: var(--main-accent);
          fill: var(--main-accent);
        }
        &[disabled]{
          opacity: .3;
          cursor: auto;
          &:hover{
            color: var(--white);
            fill: var(--white);
          }
        }
      }
    }
    .t-table{
      width: 100%;
      min-width: 1710px;
      &__narrow{
        min-width:calc(540px + 50vw);
      }
      th,td{
        font-size: 13px;
      }
      thead{
        color: var(--white);
        top:0;
        position: sticky;
        z-index: 4;
        th{
          background-color: var(--main);
          padding: 0;
          .cell{
            padding: 5px .25rem;
            border: 1px solid #2C436C;
            background-color: var(--main);
            + .cell{
              border-left: none;
            }
          }
          .c-border_0{
            border: none;
            &:after{
              content: none;
            }
          }
        }
      }
      tbody{
        tr{
          &:nth-of-type(even){
            th{
              background-color: #E9EDF0;
            }
          }
        }
        th,td{
          background-color: #f6f8fa;
        }
        th{
          padding: 6px .5rem;
        }
        td{
          div{
            &:last-of-type{
              border-left: none;
            }
          }
        }
      }
    }
    .sticky{
      &_1{
        position: sticky;
        left:0;
        z-index: 3;
        &:before{
          content: '';
          display:block;
          position:absolute;
          bottom:0;
          left:0;
          width:100%;
          height:1px;
          background-color: var(--box-border);
        }
        &:after{
          content: '';
          display:block;
          position:absolute;
          top:0;
          right:0;
          height:100%;
          width:1px;
          background-color: var(--box-border);
        }
      }
      &_2{
        position: sticky;
        left:100px;
        z-index: 2;
        &:before{
          content: '';
          display:block;
          position:absolute;
          bottom:0;
          left:0;
          width:100%;
          height:1px;
          background-color: var(--box-border);
        }
        &:after{
          content: '';
          display:block;
          position:absolute;
          top:0;
          right:0;
          height:100%;
          width:1px;
          background-color: var(--box-border);
        }
      }
      &_3{
        position: sticky;
        left:240px;
        z-index: 2;
        &:before{
          content: '';
          display:block;
          position:absolute;
          bottom:0;
          left:0;
          width:100%;
          height:1px;
          background-color: var(--box-border);
        }
        &:after{
          content: '';
          display:block;
          position:absolute;
          top:0;
          right:0;
          height:100%;
          width:1px;
          background-color: var(--box-border);
        }
      }
      &_4{
        position: sticky;
        left:540px;
        z-index: 3;
        &:before{
          content: '';
          display:block;
          position:absolute;
          bottom:0;
          left:0;
          width:100%;
          height:1px;
          background-color: var(--box-border);
        }
        &:after{
          content: '';
          display:block;
          position:absolute;
          top:0;
          right:0;
          height:100%;
          width:1px;
          background-color: var(--box-border);
        }
      }
      &_5{
        position: sticky;
        left:700px;
        z-index: 2;
        &:after{
          content: '';
          display:block;
          position:absolute;
          top:0;
          right:0;
          height:100%;
          width:1px;
          background-color: var(--box-border);
        }
      }
    }
  }
}
